.safe-bottom > .MuiTabs-scroller > .MuiTabs-flexContainer > .MuiButtonBase-root {
  padding-bottom: 12px;
  padding-bottom: calc(constant(safe-area-inset-bottom) / 2);
  padding-bottom: calc(env(safe-area-inset-bottom) / 2);
  padding-top: 12px;
  padding-top: calc(constant(safe-area-inset-bottom) / 2);
  padding-top: calc(env(safe-area-inset-bottom) / 2);
}

.safe-buttom-box {
  padding-bottom: constant(safe-area-inset-bottom) !important;
  padding-bottom: env(safe-area-inset-bottom) !important;
  min-height: calc(constant(safe-area-inset-bottom) + 60px) !important;
  min-height: calc(env(safe-area-inset-bottom) + 60px) !important;
}
